* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, hsl(0, 0%, 0%), #555555);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
}