
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, hsl(0, 0%, 0%), #555555);
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #f0f0f3;
}

.nome {
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #ffffff;
}

.header h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffff;
}

.user-icon {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon img {
  width: 70px;
}

.user-profile:hover {
  background-color: #282838;
  transform: translateY(-5px);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid #4c4c55;
  border-radius: 12px;
  padding: 35px 20px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transition: transform 0.4s ease, border-color 1.5s ease, box-shadow 0.6s ease;
}

/* ICONES */
.card-icon1 {
  width: 60px;
  height: 60px;
  background-image: url(./3.png);
  
}

.card-icon2 {
  width: 60px;
  height: 60px;
  background-image: url(./2.png);
}

.card-icon3 {
  width: 60px;
  height: 60px;
  background-image: url(./1.png);
}

/* ##################################################### */

.card span {
  font-size: 1.05rem;
  font-weight: 600;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #f3f2ef;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}