* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: poppins, sans-serif;
  font-weight: 600;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-family: poppins, sans-serif;
  font-weight: 400;
}

body{
  display: flex;
  justify-content: center;
   background: linear-gradient(45deg, hsl(0, 0%, 0%), #555555);
   color: #ffffff;
   min-height: 100vh;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin-top: 30px;
}

.user-icon {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon img {
  width: 70px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main {
    width: 1000px;
    height: 580px;
    padding: 2.5rem 1.5rem;
    gap: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

form{
  width: 900px;
  height: 500px;
  display: flex;
  justify-content: space-around
}

.Parte1 {
  width: 350px;
  height: 500px;
  background-color: red;
  border-radius: 20px;
  padding: 2.5rem 1.5rem;
    gap: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    margin-top: 1rem;
    display: flex;
    justify-content: ;
    flex-direction: column;
}

.Parte2 {
  width: 350px;
  height: 500px;
  background-color: red;
  border-radius: 20px;
      gap: 16px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
